

# Core Libraries
numpy
pandas
scikit-learn

# Sentence Embedding and NLP
sentence-transformers
transformers
torch
faiss-cpu
rank-bm25
tiktoken
rapidfuzz

# OCR, PDF & Image Processing
pytesseract
pdfplumber
pypdf2
pdf2image
pillow
opencv-python

# Spreadsheet & Data Handling
openpyxl
xlrd==2.0.1

# Utilities
tqdm
requests
psutil
python-dotenv

# Web Interface
streamlit
